name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test LB/SB
      id: test-lb-sb
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Test LB/SB
        setup-command: "./setup.sh"
        command: "./tests/run.sh"
        timeout: 10
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST-LB-SB_RESULTS: "${{steps.test-lb-sb.outputs.result}}"
      with:
        runners: test-lb-sb
